# Python cache
__pycache__/

# Compiled Python files
*.pyc

# output folders
/dev/outputs_main_experiment/
/dev/outputs_ref_comparison/

# other root files
/dev.zip
/output_guide_software_project.txt
/zip_software_project.bat